<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Right now we only have a NuGet repo in HQ. Once this is solved, a US one will be added -->
        <!-- Then this configuration is supposed to move to local machines -->
        <add key="NuGetWebServices - HQ" value="https://omhqproget/nuget/WebServices/" />
        <add key="TempNuget" value="https://omhqproget/nuget/Dev-NuGet-Sandbox/" />
    </packageSources>

    <!-- Default Package Sources that are disabled by default. -->
    <!-- Users can overrule this in their own configuration -->
    <disabledPackageSources>
    <!-- Should also be blocked by firewall -->
        <add key="nuget.org" value="true" />
    </disabledPackageSources>
</configuration>